/* Цвет первых трех букв логотипа, активной навигации голубой #2196F3*/
/* Цвет studio букв логотипа черный #000000*/
/* Цвет навигации и заголовков черный #212121*/
/* Цвет телефона и текста серый #757575*/
/* Цвет текста белый #ffffff*/
/* Цвет бекграунда в секциях темный #2F303A*/
/* Цвет бекграунда в секциях светлый #E5E5E5 */
/* Цвет бекграунда в светлых кнопках #F5F4FA*/
:root {
  --primary-text-color: #757575;
  --primary-title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --bg-section-color: #2f303a;
  --bg-white-section-color: #f5f4fa;
  --telmail-footer-color: rgba(255, 255, 255, 0.6);
  --bg-hero: rgba(47, 48, 58, 0.4);
}

/* Утилиты*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, cursive;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header*/

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header ul {
  display: flex;
}
.logo {
  color: var(--accent-color);
  font-weight: 700;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}

span {
  color: var(--primary-black-color);
}
.site-nav {
  margin-left: 93px;
}
.site-nav .link {
  position: relative;

  display: block;
  color: var(--primary-title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav:hover:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: -32px;
  border-radius: 2px;
}

.auth-nav {
  margin-left: auto;
}
.auth-nav .link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .link:hover,
.auth-nav .link:hover:focus {
  color: var(--accent-color);
}
.auth-nav .item:last-child {
  margin-left: 50px;
}
.auth-nav .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mailto {
  margin-right: 10px;
  fill: currentColor;
}

.smartfon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero*/
.prim {
  min-height: 600px;
  padding: 200px 15px;
}

.prim-section {
  background-image: linear-gradient(to right, var(--bg-hero), var(--bg-hero)),
    url(../images/Img.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-hero);

  text-align: center;
}

.title-index {
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
}

.link-prim-section {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  border-radius: 4px;
}
/* modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--primary-white-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mdodal-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: var(--primary-white-color);
}

.mdodal-btn:hover {
  fill: var(--accent-color);
}

.modal h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-title-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 448px;

  margin-top: 10px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.166;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--primary-text-color);
}

.form-field input::placeholder {
  margin-left: 32px;
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field label {
  margin-bottom: 4px;
}

.form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;

  padding-left: 32px;

  transition: border 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-field textarea:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-field input:focus ~ .modal-icon svg {
  fill: var(--accent-color);
  transition: fill 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 448px;
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.modal-icon svg {
  width: 18px;
  height: 18px;
  fill: var(--primary-title-text-color);
}

.form-field textarea {
  resize: none;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  margin-bottom: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  text-align: center;

  margin-bottom: 30px;
}

.form-check a {
  color: var(--accent-color);
}

.modcheck-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;

  cursor: pointer;
  border: solid 1.67px var(--primary-title-text-color);
  border-radius: 2px;
  background-size: contain;
  display: flex;
  justify-content: center;
}

.modcheck-svg svg {
  width: 16px;
  height: 15px;
}

.modcheck:checked ~ .modcheck-svg {
  background-color: var(--accent-color);
  border: none;
}

.button-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;

  display: flex;
  justify-content: center;
}
.button-send:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-button {
  display: flex;
  justify-content: center;
}

/* advantage*/
.advant {
  min-height: 440px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-advant {
  width: 270px;
  height: 120px;
  background-color: var(--bg-white-section-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.icon-advant svg {
  width: 70px;
  height: 70px;
}

.advantage-list {
  display: flex;
}

.advantage-list li {
  width: 270px;
}

.advantage-list li:not(:last-child) {
  margin-right: 30px;
}

.advantage {
  color: var(--primary-title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  margin-bottom: 10px;
}

.text {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71px;
  text-align: left;
}

/* Doing*/
.doing {
  min-height: 480px;
}

.title-doing {
  color: var(--primary-title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.doing-thumb {
  position: relative;
}

.doing-list p {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);

  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;
}

/* Comand*/
.comand-section {
  background-color: var(--bg-white-section-color);
}

.comand {
  min-height: 708px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-comand {
  color: var(--primary-title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.comand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comand-list li {
  width: 270px;
}

.persons {
  color: var(--primary-title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 10px;
}
.prof-persons {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 16px;
}
.comand-desc {
  padding: 30px;
}

.card {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-comand {
  display: flex;
  justify-content: center;
}

.social-comand a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-white-color);
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-comand li {
  padding-left: 10px;
}

.social-comand a:hover,
.social-comand a:focus {
  background-color: var(--accent-color);
  color: #fff;
}
.social-comand svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Client*/

.client {
  margin: 94px 0px;
}

.social-client {
  display: flex;
  justify-content: center;
}

.social-client a {
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-white-color);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-client li:not(:first-child) {
  margin-left: 30px;
}

.social-client svg {
  fill: currentColor;
}

.social-client a:hover,
.social-client a:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* Footer*/

footer {
  background-color: var(--bg-section-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.span-footer {
  color: var(--primary-white-color);
}
.adress {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  text-align: left;
  margin-bottom: 9px;
  padding-right: 14px;
}

.text-footer {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
}
.footer {
  display: flex;
}
.social-footer {
  padding-left: 70px;
  padding-top: 15px;
}
address {
  font-style: normal;
}
.auth-nav-footer a {
  color: var(--telmail-footer-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-footer:not(:last-child) {
  margin-bottom: 9px;
}

.auth-nav-footer:n .auth-nav-footer:hover,
.auth-nav-footer:hover:focus {
  color: var(--accent-color);
}

.social-icofoot {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.social-icofoot a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icofoot li:not(:first-child) {
  padding-left: 10px;
}

.social-icofoot a:hover,
.social-icofoot a:focus {
  background-color: var(--accent-color);
  color: #fff;
}
.social-icofoot svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.foot-form {
  padding-left: 93px;
}

.foot-form input {
  width: 358px;
  height: 50px;
  padding-left: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--bg-section-color);
}

.button-sendfoot {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 12px;
  padding: 10px 26px;
  width: 199px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-sendfoot:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-sendfoot svg {
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
  margin-left: 9px;
  display: inline-block;
}

.footinbut {
  display: flex;
  margin-top: 20px;
}

/* portfolio*/

.works {
  min-height: 1548px;
  padding-top: 94px;
}

.button-works {
  background-color: var(--bg-white-section-color);
  color: var(--primary-title-text-color);
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-works:hover,
.button-works:hover:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.title-works {
  color: var(--primary-title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}
.kind-works {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: left;
}

a {
  text-decoration: none;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter li:not(:last-child) {
  margin-right: 8px;
}
.work-disc {
  padding: 20px 24px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
}

.works-list li {
  flex-basis: calc(100% / 3 - 15px);
  margin-left: 15px;
  margin-top: 15px;

  border: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list li:hover,
.works-list li:hover:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.work-thumb {
  position: relative;
  overflow: hidden;
}

.work-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
.work-overlay p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  text-align: left;

  padding: 66px 24px;
  color: var(--primary-white-color);
}
.work-thumb:hover .work-overlay {
  transform: translateY(0);
}
